/* .Pokemon {
  width: 100%;
  background-color: #f8f7f7;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.Pokemon:nth-child(2n + 0) {
  background-color: white;
} */

/* .Pokemon-main {
  background-color: white;
  width: 70%;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: -4px 11px 36px -4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -4px 11px 36px -4px rgba(0, 0, 0, 0.17);
  box-shadow: -4px 11px 36px -4px rgba(0, 0, 0, 0.17);
  position: relative;
  z-index: 5;
} */
/* .Pokemon-main h2 {
  text-transform: capitalize;
  color: #666266;
  margin-top: -10px;
  font-weight: 500;
} */
/* .Pokemon-main ul {
  list-style: none;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 14px;
} */
/* .Pokemon-main ul li {
  display: inline-block;
  margin-right: 10px;
} */
/* .Pokemon-main img {
  z-index: 10;
} */

/* .Pokemon-main--types li {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: -10px;
} */

/* .Pokemon-stats {
  margin-top: 20px;
  width: 80%;
} */

/* .Pokemon-stats td {
  text-transform: capitalize;
} */

/* .Pokemon-id {
  position: absolute;
  top: 26%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  z-index: -1;
  color: #6662662a;
  font-weight: 500;
} */
/* .Pokemon-id p:before {
} */

/* .Pokemon-more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .Pokemon-height {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 17px 46px -3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 17px 46px -3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 17px 46px -3px rgba(0, 0, 0, 0.14);
}
.Pokemon-weight {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5%;
  right: -5%;
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 17px 46px -3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 17px 46px -3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 17px 46px -3px rgba(0, 0, 0, 0.14);
} */

.u-bounce {
  -webkit-animation: bounce 1000ms infinite;
  animation: bounce 1000ms infinite;
}

.o-pokeball {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid 2px black;
  position: relative;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eeeeee),
    to(#ffffff)
  );
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  margin: 10px auto;
}
.o-pokeball:before,
.o-pokeball:after {
  content: "";
  display: block;
}
.o-pokeball,
.o-pokeball:before,
.o-pokeball:after {
  -webkit-transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75);
  transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75);
}
.o-pokeball:before {
  width: 50px;
  height: 24px;
  border-bottom: solid 2px black;
  border-radius: 25px 25px 0 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#d10000),
    color-stop(50%, #ff0000)
  );
  background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
}
.o-pokeball:after {
  content: "";
  width: 10px;
  height: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#ccc)
  );
  background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px black, 0 0 0 2px #ddd, 0 0 0 3.5714285714px black,
    0 0 5px 2.9411764706px rgba(0, 0, 0, 0.4);
}
